
table {
    margin: 0.5rem;
    padding: 0;
    border: 1px solid #ccc;
}

table td:first {
    display: block;
    background-color: #f2f2f2;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    padding: 0.5rem;
    margin: 0;
}